merli_ws/web/WSDLMerli.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="WSDLMerli"
targetNamespace="http://localhost:8088/WSMerli/WSDLMerli.wsdl"
          xmlns:tns="http://localhost:8088/WSMerli/WSDLMerli.wsdl"
          xmlns:mer="http://localhost:8088/WSMerli/WSXtecTypes1.5"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:import namespace="http://localhost:8088/WSMerli/WSXtecTypes1.5"
           location="http://localhost:8088/WSMerli/WSXtecTypes1.5.xsd"/>

<wsdl:message name="WSMListDUC">
	<wsdl:part name="body" element="mer:listDUC"/>
</wsdl:message>

<wsdl:message name="WSMLom">
	<wsdl:part name="body" element="mer:lom"/>
</wsdl:message>
    
<wsdl:message name="WSMIdResource">
    	<wsdl:part name="body" element="mer:idResource"></wsdl:part>
</wsdl:message>

<wsdl:message name="WSMElementDUC">
    	<wsdl:part name="body" element="mer:elementDUC"></wsdl:part>
</wsdl:message>

<wsdl:message name="WSMIdElement">
    	<wsdl:part name="body" element="mer:idElement"></wsdl:part>
</wsdl:message>

<wsdl:portType name="WSDLMerliPortType">
		<wsdl:operation name="AddResource">
			<wsdl:input message="tns:WSMLom"/>
			<wsdl:output message="tns:WSMIdResource"/>
		</wsdl:operation>
        <wsdl:operation name="SetResource">
            <wsdl:input message="tns:WSMLom"></wsdl:input>
            <wsdl:output message="tns:WSMIdResource"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DelResource">
        	<wsdl:input message="tns:WSMIdResource"></wsdl:input>
        	<wsdl:output message="tns:WSMIdResource"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetResource">
        	<wsdl:input message="tns:WSMIdResource"></wsdl:input>
        	<wsdl:output message="tns:WSMLom"></wsdl:output>
        </wsdl:operation>
</wsdl:portType>

<wsdl:portType name="WSDLDUCPortType">
    	<wsdl:operation name="GetElement">
    		<wsdl:input message="tns:WSMIdElement"></wsdl:input>
    		<wsdl:output message="tns:WSMElementDUC"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="GetDUC">
    		<wsdl:output message="tns:WSMListDUC"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="GetLevels">
    		<wsdl:output message="tns:WSMListDUC"></wsdl:output>
    	</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="WSDLMerliBinding" type="tns:WSDLMerliPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddResource">
			<soap:operation soapAction="http://localhost:8088/WSMerli"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetResource">
			<soap:operation soapAction="http://localhost:8088/WSMerli"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResource">
			<soap:operation soapAction="http://localhost:8088/WSMerli"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DelResource">
			<soap:operation soapAction="http://localhost:8088/WSMerli"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="WSDLDUCBinding" type="tns:WSDLDUCPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetElement">
			<soap:operation soapAction="http://localhost:8088/WSDUC"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDUC">
			<soap:operation soapAction="http://localhost:8088/WSDUC"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
				<wsdl:operation name="GetLevels">
			<soap:operation soapAction="http://localhost:8088/WSDUC"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
</wsdl:binding>

<wsdl:service name="WSDLMerliService">
	<wsdl:port binding="tns:WSDLMerliBinding" name="WSDLMerliPort">
		<soap:address location="http://localhost:8088/WSMerli"/>
	</wsdl:port>
</wsdl:service>
<wsdl:service name="WSDLDUCService">
	<wsdl:port binding="tns:WSDLDUCBinding" name="WSDLDUCPort">
		<soap:address location="http://localhost:8088/WSDUC"/>
	</wsdl:port>
</wsdl:service>

</wsdl:definitions>
