merli_ws2/web/WSXtecTypes1.5_int.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by aleix canals (docum) -->
<xs:schema targetNamespace="http://integracio.merli.xtec.cat/merli_ws2/WSXtecTypes1.5"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://integracio.merli.xtec.cat/merli_ws2/WSXtecTypes1.5">
	<xs:element name="idElement">
		<xs:annotation>
			<xs:documentation>Identificador d'un element del DUC</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="identifier" type="xs:int"/>
				<xs:element ref="typeElement"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="typeElement">
		<xs:annotation>
			<xs:documentation>Possibles tipus d'elements del DUC</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:enumeration value="content"/>
				<xs:enumeration value="area"/>
				<xs:enumeration value="level"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="idResource">
		<xs:annotation>
			<xs:documentation>Identificador d'un recurs del MeRLí</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identifier" type="xs:string"/>
				<xs:element name="type" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="elementDUC">
		<xs:annotation>
			<xs:documentation>Descripció d'un element del DUC</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idElement"/>
				<xs:element name="term" type="xs:string">
					<xs:annotation>
						<xs:documentation>Terme de l'element</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="category" type="xs:string" minOccurs="0"/>
				<xs:element name="references" type="xs:string" minOccurs="0"/>
				<xs:element ref="taxonPath" minOccurs="0"/>
				<xs:element ref="DUCRelation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxonList">
		<xs:annotation>
			<xs:documentation>Col·lecció de taxons</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="taxon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DUCRelation">
		<xs:annotation>
			<xs:documentation>Descripció de relacions entre elements del DUC</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DUCRelationType"/>
				<xs:element ref="elementDUC"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DUCRelationType">
		<xs:annotation>
			<xs:documentation>RCC: Content-Content RCA: Content-Area       RCL: Content-Level       RAL: Area-Level            RLL: Level-Level</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:enumeration value="RCC"/>
				<xs:enumeration value="RCA"/>
				<xs:enumeration value="RCL"/>
				<xs:enumeration value="RAL"/>
				<xs:enumeration value="RLL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="taxon">
		<xs:annotation>
			<xs:documentation>Descripció d'un taxó</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="entry" type="LangString"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="lom">
		<xs:annotation>
			<xs:documentation>Descripció d'un recurs del MeRLí</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="general"/>
				<xs:element ref="lifeCycle"/>
				<xs:element ref="metaMetadata"/>
				<xs:element ref="technical"/>
				<xs:element ref="educational"/>
				<xs:element ref="rights"/>
				<xs:element ref="relation" maxOccurs="unbounded"/>
				<xs:element ref="classification" maxOccurs="unbounded"/>
				<xs:element ref="descripcioFisica"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="general">
		<xs:annotation>
			<xs:documentation>Camps generals del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier"/>
				<xs:element name="title" type="LangString"/>
				<xs:element ref="language" maxOccurs="unbounded"/>
				<xs:element name="description" type="LangString"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lifeCycle">
		<xs:annotation>
			<xs:documentation>Cicle de vida del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="LangString"/>
				<xs:element name="status" type="sourceValue"/>
				<xs:element ref="contribute" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metaMetadata">
		<xs:annotation>
			<xs:documentation>Metadades del recurs etiquetat</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier"/>
				<xs:element ref="contribute" maxOccurs="unbounded"/>
				<xs:element name="metadataSchema" type="xs:string" minOccurs="0"/>
				<xs:element ref="language"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="technical">
		<xs:annotation>
			<xs:documentation>Descripció tècnica del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="format" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="location" type="xs:string"/>
				<xs:element name="installationRemarks" type="LangString" minOccurs="0"/>
				<xs:element name="otherPlataformRequirements" type="LangString" minOccurs="0"/>
				<xs:element ref="duration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="educational">
		<xs:annotation>
			<xs:documentation>Descripció educativa del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="learningResourceType" type="sourceValue" maxOccurs="unbounded"/>
				<xs:element name="intendedEndUserRole" type="sourceValue" maxOccurs="unbounded"/>
				<xs:element name="context" type="sourceValue" maxOccurs="unbounded"/>
				<xs:element name="typicalAgeRange" type="xs:string"/>
				<xs:element name="difficulty" type="sourceValue"/>
				<xs:element name="typicalLearningTime">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="duration"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rights">
		<xs:annotation>
			<xs:documentation>Descripció dels crèdits del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cost" type="xs:string">
					<xs:annotation>
						<xs:documentation>és gratuit?</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="copyrightAndOtherRestrictions" type="sourceValue">
					<xs:annotation>
						<xs:documentation>té llicència?</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="LangString">
					<xs:annotation>
						<xs:documentation>descripció de la llicència</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cdr">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="permission">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="action" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="schemaVersion" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="relation">
		<xs:annotation>
			<xs:documentation>Defineix la relació entre aquest recurs i altres recursos</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kind" type="xs:string"/>
				<xs:element name="resource" type="xs:int"/>
				<xs:element name="description" type="LangString"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="classification">
		<xs:annotation>
			<xs:documentation>Termes pertinents a una ontologia del recurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="purpose" type="sourceValue"/>
				<xs:element ref="taxonPath"/>
				<xs:element name="description" type="LangString" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descripcioFisica">
		<xs:annotation>
			<xs:documentation>Descriu les caracteríques pròpies dels recursos físics</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="caracteristiques" type="xs:string"/>
				<xs:element name="unitat" type="unitat"/>
				<xs:element name="identificadors" type="identificadors"/>
				<xs:element name="disponibleA" type="disponibleA"/>
				<xs:element name="format" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:complexType name="sourceValue">
		<xs:annotation>
			<xs:documentation>Camp amb un valor value i un valor source</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="source" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="string">
		<xs:annotation>
			<xs:documentation>Camp amb un atribut de llenguatge</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language" type="xs:string" use="optional" default="ca"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
	<xs:complexType name="unitat">
		<xs:annotation>
			<xs:documentation>Defineix una unitat</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="identificadors">
		<xs:annotation>
			<xs:documentation>Identificadors físics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="idResource" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="disponibleA">
		<xs:annotation>
			<xs:documentation>Unitats on el recurs està disponible</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="unitat" type="unitat"  maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="LangString">
		<xs:annotation>
			<xs:documentation>String amb atribut de llenguatge</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element ref="string"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="identifier">
		<xs:annotation>
			<xs:documentation>Identificador</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="catalog" type="xs:string"/>
				<xs:element name="entry" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contribute">
		<xs:annotation>
			<xs:documentation>Contribució amb rol, entitat i data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="role" type="sourceValue"/>
				<xs:element name="entity" type="xs:string"/>
				<xs:element name="date">
					<xs:complexType>
						<xs:all>
							<xs:element name="dateTime" type="xs:string"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language" type="xs:language">
		<xs:annotation>
			<xs:documentation>Ha de ser un dels llenguatges vàlids</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="duration" type="xs:string">
		<xs:annotation>
			<xs:documentation>format PTxHxMxS</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="addResource">
		<xs:annotation>
			<xs:documentation>Resultat d'una operació addResource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idResource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="setResource">
		<xs:annotation>
			<xs:documentation>Resultat d'una operació setResource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idResource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getResource">
		<xs:annotation>
			<xs:documentation>Resultat d'una operació getResource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lom"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delResource">
		<xs:annotation>
			<xs:documentation>Resultat d'una operació delResource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idResource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getElement">
		<xs:annotation>
			<xs:documentation>Resultat d'una operació getElement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="elementDUC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxonPath">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="source" type="LangString"/>
				<xs:element ref="taxon" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listDUC">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="elementDUC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
